<ion-view view-title="HavaSchedule">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">Today</div>
      <a href="#" class="item">{{theDate}}</a>
      <a href="#" class="item">{{theWeekday}}</a>
      <a href="#" class="item"><the-current-time></the-current-time></a>
      <a href="#" class="item" ng-hide="debug"></a>
    </div>

    <div class="list card" ng-hide="hidePassingTimeDiv">
      <div class="item item-divider">Passing Time</div>
      <a href="#" class="item">{{thePeriod}}</a>
      <a href="#" class="item">{{theClass}}</a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-clock"></i>
        Next class starts in <counttimer date={{periodStartDateTimeString}}> &nbsp;</counttimer>
      </a>
    </div>

    <div class="list card" ng-hide="hideInClassDIV">
      <div class="item item-divider">{{thePeriod}}</div>
      <a href="#" class="item">{{thePeriod}}</a>
      <a href="#" class="item">{{theClass}}</a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-clock"></i>
        Start:  {{periodStartString}} (<counttimer date={{periodStartDateTimeString}}> &nbsp;</counttimer> since start)
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-clock"></i>
        End:  {{periodEndString}} (<counttimer date={{periodEndDateTimeString}}> &nbsp;</counttimer>  remains)
      </a>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Timers
      </div>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-android-alarm-clock"></i>
        Every 10 minutes
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-android-alarm-clock"></i>
        10 before end
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-android-alarm-clock"></i>
        5 before end
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-android-alarm-clock"></i>
        1 before end
      </a>
    </div>

  </ion-content>
</ion-view>
