<ion-view view-title="HavaSchedule">
    <ion-content>
      <div class="list card timercard">
        <div class="item item-divider">
          Preferences
        </div>
      <ion-list>
        <ion-item ng-click="showBell()">
          Choose Current BellSchedule
        </ion-item>
        <ion-item ng-show="devModeEnabled" ng-click="debug()">
          Toggle Debug
        </ion-item>
        <ion-item ng-click="resetUserData()">
          Reset Sample Data
        </ion-item>
      </ion-list>
    </div>
    </ion-content>
