<ion-view view-title="HavaSchedule">
  <ion-content>
    <div class="list card nowcard">
      <div class="item item-divider dark" ng-click="updateUI()">{{theWeekday}}, {{theDate}}</div>
      <div class="item"><the-current-time></the-current-time></div>
      <div class="item" ng-click="showBell()" ng-show="inClassDiv">{{selectedBellScheduleName}} Bell Schedule</div>
      <div class="item" ng-click="toggleDebug()" ng-show="debug">  <span ng-class="{'debug': debug}"> DEBUG MODE</span></div>
    </div>

    <div class="list card passingcard" ng-show="passingTimeDiv">
      <div class="item item-divider">Current Status:  Passing Time to <span class="minorstandout">{{thePeriod}}</span></div>
      <div class="item">Next class: <span class="standout">{{theClass}}</span><span ng-show="roomSpecified">  in room {{theRoom}}</span></div>
      <div class="item item-icon-left">
        <i class="icon ion-clock"></i>
        {{theClass}} starts in <count-timer date={{periodStartDateTimeString}}> &nbsp;</count-timer>
      </div>
    </div>

    <div class="list card schedulecard" ng-show="inClassDiv">
      <div class="item item-divider" ng-class="{warning1: warning1, warning2: warning2}" ><span class="minorstandout">{{thePeriod}}</span>:  <span class="standout">{{theClass}}</span><span ng-show="roomSpecified"> in room {{theRoom}}</span></div>
      <div class="item item-icon-left">
        <i class="icon ion-clock"></i>
        Started <count-timer date={{periodStartDateTimeString}}> &nbsp;</count-timer> ago (at {{periodStartString}})
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-clock"></i>
        Ends in <count-timer date={{periodEndDateTimeString}}> &nbsp;</count-timer> (at {{periodEndString}})
      </div>
    </div>

    <div class="list card timercard">
      <div class="item item-divider">
        Timers
      </div>
      <ion-list>
        <ion-item ng-class="item-icon-left" ng-if="shouldShow(timer)" class="item-remove-animate" ng-repeat="timer in timers" item="timer" ng-click="activate(timer)">
                <i class="icon ion-android-alarm-clock">  {{timer.description}}  </i>
                <timer-display ng-if="timer.active"></timer-display>
                <ion-option-button class="button-assertive" ng-click="edit(timer)">Edit</ion-option-button>
        </ion-item>
      </ion-list>

    </div>

  </ion-content>
</ion-view>
