<ion-view view-title="tab-prefs">
  <ion-content>
    <div class="list card timercard">
      <div class="item item-divider">
        Roster
      </div>
      <ion-list>
        <ion-item ng-class="item-icon-left" class="item-remove-animate" ng-repeat="class in roster" item="class">
          <i class="icon ion-calendar"> {{class.period}}: {{class.name}} <span ng-if="class.room.length > 1"> (Room {{class.room}})</span>  </i>
        </ion-item>
      </ion-list>

    </div>


  </ion-content>
</ion-view>
