<ion-view view-title="HavaSchedule">
    <ion-content>
      <div class="list card timercard">
        <div class="item item-divider">
          Preferences
        </div>
      <ion-list>
        <ion-item ng-click="showBell()">
          Choose Current BellSchedule
        </ion-item>
        <ion-item ng-show="devModeEnabled" ng-click="debug()">
          Toggle Debug
        </ion-item>
      <ion-item class="item" ng-click="sampleDataOverwrite()">
        <button class="button button-full button-dark">
          Reset Data to Sample Data
        </button>
      </ion-item>
    </ion-list>
  </div>
  </ion-content>
