.nowcard, .schedulecard, .passingcard {
  .item-divider {
    text-align: left;
    font-weight: bolder;
  }

  .item {
    font-weight: bold;
  }
}

.nowcard {
  .item {
    text-align: center;
    font-weight: bolder;
    font-size: 1.25em;
  }
  .item-divider {
    text-align: left;
  }
}

.minorstandout {
  font-weight: bold;
}

.standout {
  font-weight: bolder;
  font-style: italic;
}

.debug {
  background-color: orange;
}
